*{
    margin: 0rem;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: pink;
    background-image: url("./retro-computer-desk-arrangement.jpg");
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    padding: 3rem 0;
    color: white;
    text-align: center;


}

.container{
    background-color: palevioletred;
    max-width: 75rem;
    margin: 0rem auto;
    display: block;
}

.result{
    background-color: violet;
    font-size: 1.5rem;
}

.u-full-width{
    display: block;
   width: 8rem;
   margin: 0rem auto;

}
